.calender
{
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 32px;
    font-family: 'Montserrat','Medium';
    background-color: rgb(248, 249, 250);

    .week{
        font-size: 18px;
        color: rgb(9, 39, 70);
    }

    .drop-row{
        background-color: rgb(248, 249, 250);
        margin-bottom: 32px;
    }
    .week-total{
        font-family: 'Montserrat','Medium/Bold';
        font-size: 16px;
        padding-top: 16px;
        color:rgb(112, 128, 144);
    }
    span{
        font-weight: bold;
    }

    .drop-button{
        height: 40px;
        border: none;
        background-color: white;
        color:rgb(112, 128, 144);
        font-size: 14px;
        font-family: 'Moteserrat';

        i{
            padding-left: 1px;
            padding-right: 1px;
        }
    }

    .dec-row{
        margin-bottom: 16px;
    }

    .i1{
      color: rgb(232, 234, 235);
      padding-right: 15px;
    }

    .i2{
      color: rgb(232, 234, 235);
      padding-left: 15px;
    }

    .december{
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 18px;
        color:rgb(139, 152, 165);
    }

    .date-view {
        height: 10vh;
        border: none;
        box-shadow: none;
        background: none;
      }
       
      .date-view-active {
        height: 10vh;
        border: none;
        background-color: rgb(215, 215, 215);
       
        .card-body {
          font-weight: 700;
        }
      }
   

    .warning-row{
        background-color: rgb(245, 237, 226);
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
        height: 40px;
        margin-bottom: 24px;
        
        .incomp{
            color: rgb(212, 168, 104);
            font-family: 'Monteserrat';
            font-size: 16px;
            position: relative;
            bottom: -4px;
        }
    }

    .cal {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(5, 1fr);
      row-gap: 30px;
      column-gap: 70px;
      margin: 0 auto;
    }
    .day {
      width: 20px;
      height: 20px;
      background-color: rgb(248, 249, 250);
      display: flex;
      align-items: center;
      justify-content: start;
      font-family: 'Montserrat';
    }

    .yellow-circle1{
      width: 5px; /* Size of the circle */
      height: 5px; /* Size of the circle */
      background-color: rgb(207, 158, 87); /* Circle color */
      border-radius: 50%; /* Makes the div circular */
      display: flex;
      justify-content: center; /* Centers the plus horizontally */
      align-items: center; /* Centers the plus vertically */
      margin-top: -20px;
      position: absolute;
      right: 365px;
    }

    .yellow-circle2{
      width: 5px; /* Size of the circle */
      height: 5px; /* Size of the circle */
      background-color: rgb(207, 158, 87); /* Circle color */
      border-radius: 50%; /* Makes the div circular */
      display: flex;
      justify-content: center; /* Centers the plus horizontally */
      align-items: center; /* Centers the plus vertically */
      margin-top: -20px;
      position: absolute;
      right: 365px;
    }

    .yellow-circle3{
      width: 5px; /* Size of the circle */
      height: 5px; /* Size of the circle */
      background-color: rgb(207, 158, 87); /* Circle color */
      border-radius: 50%; /* Makes the div circular */
      display: flex;
      justify-content: center; /* Centers the plus horizontally */
      align-items: center; /* Centers the plus vertically */
      margin-top: -20px;
      position: absolute;
      right: 360px;
    }
  

    .card{
        background-color: white;
        border: none;
        box-shadow: 0 4px 10px -2px gray;
        margin-bottom: 15px;
        margin-left: 0px;
    }

    .col-c{
      border-left: 5px solid rgb(207, 158, 87);
      border-radius: 0.5%;
    }

    .col-c1{
      border-left: 5px solid rgb(163, 202, 233);
      border-radius: 0.5%;
    }


    .circle {
        width: 50px; /* Size of the circle */
        height: 50px; /* Size of the circle */
        background-color: black; /* Circle color */
        border-radius: 50%; /* Makes the div circular */
        display: flex;
        justify-content: center; /* Centers the plus horizontally */
        align-items: center; /* Centers the plus vertically */
        margin-top: -20px;
        position: absolute;
        right: 50px;
      }
    
      .plus {
        color: white; /* Plus sign color */
        font-size: 2em; /* Size of the plus sign */
      }

}